@model DAL.Model.Kupac
@{
    ViewBag.Title = "Detalji o kupcu";
}

<h2>Detalji o kupcu</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.Ime_prezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ime_prezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefon)
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.Narudzbe)
        </dt>

        <dd>
            <table class="table">
                <tr>
                    <th>Broj narudžbe</th>
                    <th>Proizvod</th>
                </tr>
                @foreach (var item in Model.Narudzbe)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelitem => item.NarudzbeID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.Proizvod.Naziv)
                        </td>

                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
